@keyframes fadein {
    100%  {opacity: 1;}
    0%  {opacity: 0.3;}
}
.navbar {
    font-size: 25px;
    padding: 10px;
    background-color: rgb(58, 58, 158);
    border-radius: 10px;
    padding-left: 50px;
    display: block;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-style: solid;
    border-width: 1px;
    width: 90%;
    margin-left: 10%;
}
.navbar div{
    display: inline-block;
}
.l1{
    color: rgb(8, 8, 8);
    text-decoration: none;
}
.l1:hover{
    color: aliceblue;
    text-decoration: none;
    text-shadow: 2px 2px rgb(90, 90, 202);
}
.nav{
    margin:-6px;
}
.home{
    margin-right: 20px;
    padding: 10px;
    border-radius: 15px;
}
body{  
    background-image: linear-gradient(rgb(40, 46, 77), rgb(56, 35, 61));
}
.home:hover{
    background-color:rgb(42, 42, 105) ;
    animation: fadein 0.5s ease-in;
}
.login{
    float: right;
    font-size: 25px;
}
.login a{
    text-decoration:none;
    color: black;
    text-transform: capitalize;
    margin-top: 10px;
}
#lbtn1:hover{
    background-color:rgb(42, 42, 105) ;
    animation: fadein 0.5s ease-in;
    border-radius:15px ;
    text-shadow: 2px 2px rgb(90, 90, 202);
}
#lbtn2:hover{
    background-color:rgb(42, 42, 105) ;
    animation: fadein 0.5s ease-in;
    border-radius: 15px;
    text-shadow: 2px 2px rgb(90, 90, 202);
}
#lbtn1 {
    padding: 10px;
}
#lbtn2{
    padding: 10px;
}
.nigger{
    margin-left: 300px ;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: -15px;
    margin-bottom: -10px;
    background-color: blueviolet;
    padding: 0px 10px 10px 10px;
    border-radius: 20px;
    text-shadow: 2px 2px rgb(90, 90, 202);
    
}
.zdjecie{
    padding: 0px;
    margin-top: -5px;
    margin-bottom: -10px;
    border-radius: 10px;
    margin-left:-10px;
}
.menu{
    height: 880px;
    background-color: rgb(109, 72, 209);
    width: 200px;
    text-decoration: none;
    margin-left: -3px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    margin-right: 0px;
    margin-top: -70px;
    position: absolute;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.men{
    list-style: NONE;
}
.search{
    padding: 10px 20px 10px 20px;
    font-size: 30px;
    margin-left: -40px;
    margin-top: -10px;
}
.forums{
    padding: 10px 20px 10px 20px;
    font-size: 30px;
    margin-left: -40px;
}
.about{
    padding: 10px 20px 10px 20px;
    font-size: 30px;
    margin-left: -40px;
}
.Misc{
    padding: 10px 20px 10px 20px;
    font-size: 30px;
    margin-left: -40px;
}
.git{
    padding: 10px 20px 10px 20px;
    font-size: 30px;
    margin-left: -40px;
}
.Patreon{
    padding: 10px 20px 10px 20px;
    font-size: 30px;
    margin-left: -40px;
}
.Links{
    padding: 10px 20px 10px 20px;
    font-size: 30px;
    margin-left: -40px;
}
.line{
    height: 2px;
    background-color: black;
    margin-left: -40px;
}
.Chatbox{
    width: 700px;
    height: 850px;
    background-color: rgb(128, 78, 126);
    display: inline-block;
    margin-left: 600px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px pink;
}
.w:Hover{
    text-shadow: 2px 2px rgb(90, 90, 202);
}
.logo{
    margin-left: -35px;
    margin-bottom:30px ;
}
.zdjecie1{
    margin-bottom: -6px;
}
.Notfications{
    margin-left: 300px;
    padding: 10px;
}
.Notfications:hover{
    background-color:rgb(42, 42, 105) ;
    border-radius: 15px;
    animation: fadein 0.5s ease-in;
}
.subnotifs{
    display: none;
}
.chat{
    width: 680px;
    height: 830px;
    background-color: rgb(59, 57, 57);
    box-shadow: 2px 2px 2px pink;
    margin: 10px;
    border-radius: 10px;
}